.clickable {
    cursor: pointer;
}

.hoverable {
    opacity: 0.3;
}

    .hoverable:hover {
        opacity: 1;
    }

.bold {
    font-weight: bold;
}

.engaged {
    opacity: 0.35;
}

.navbar-default .navbar-brand {
    background: none;
    line-height: 40px;
}

ul.portfolio-filter li {
    margin-right: 4px;
}

    ul.portfolio-filter li:last-child {
        margin-right: 0px;
    }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.connection-status {
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

    .connection-status.disconnected {
        background-color: lightgray;
    }

    .connection-status.connecting {
        background-color: orange;
    }

    .connection-status.connected, .connection-status.idle {
        background-color: lawngreen;
    }

    .connection-status.active {
        background-color: #00d9ff;
    }

    .connection-status.hot {
        background-color: #d9703b;
    }


    .connection-status.inner {
        width: 5px;
        height: 4px;
        z-index: 1030;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-bottomleft: 2px;
        border-bottom-left-radius: 2px;
    }
