.clickable {
  cursor: pointer;
}

.hoverable {
	opacity: 0.3;
}

.hoverable:hover {
	opacity: 1;
}

.engaged {
  opacity: 0.35;
}

.navbar-default .navbar-brand{
	background: none;
	line-height: 40px;
}