@font-face {
  font-family: 'Sports';
  src: url('../fonts/Balls-Balls-and-More-Balls.ttf');
  src: url('../fonts/Balls-Balls-and-More-Balls.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fa.sports {
  font-family: Sports;
}

.fa-sp-ping-pong:before {
  content: "V";
}
.fa-sp-ping-pong-hollow:before {
  content: "M";
}

.fa-sp-tennis:before {
  content: "F";
}
.fa-sp-tennis-hollow:before {
  content: "P";
}

.fa-sp-snooker:before {
  content: "Z";
}

.fa-sp-pool:before {
  content: "K";
}