<div>
	<h1>Clash definition</h1>
	<ul>
		<li>
			Set points:
			<button ng-disabled="clashDetails.pointsToWin == 10" ng-click="clashDetails.pointsToWin = 10">10 (small)</button>
			<button ng-disabled="clashDetails.pointsToWin == 20" ng-click="clashDetails.pointsToWin = 20">20 (large)</button>
		</li>
		<li>
			First serve:
			<ol>
				<li ng-repeat="party in parties">
					{{party.name}}
					<ol>
						<li ng-repeat="member in party.individuals">
							<button ng-disabled="clashDetails.firstToServe == member" ng-click="clashDetails.firstToServe = member">{{member.fullName()}}</button>
						</li>
					</ol>
				</li>
			</ol>
		</li>
		<li>
			First to receive:
			<span ng-hide="receivingParty()">will enable after selecting first server.</span>
			<ol>
				<li ng-repeat="member in receivingParty().individuals">
					<button ng-disabled="clashDetails.firstToReceive == member" ng-click="clashDetails.firstToReceive = member">{{member.fullName()}}</button>
				</li>
			</ol>
		</li>
	</ul>
	<button ng-disabled="!clashDetails.isValid()" ng-click="next();">Next, Play!</button>
</div>