<div>
	<h1>Playing clash</h1>

	<div style="width: 50%; float: left;" ng-repeat="party in clash.parties">
		<h2>{{party.name}}</h2>
		<div>
			<h3>{{clash.pointsFor(party).length || 0}}</h3>
		</div>
		<fieldset>
			<legend>Score point</legend>
			<div ng-hide="party.individuals.length == 1">
				Credit to:
				<button ng-repeat="member in party.individuals" ng-disabled="pointDetails.current.creditTo == member" ng-click="pointDetails.current.creditTo = member">{{member.fullName()}}</button>
			</div>
			<div>
				<button ng-repeat="reason in pointDetails.reasons" ng-disabled="pointDetails.current.reason == reason" ng-click="pointDetails.current.reason = reason">{{reason|pointLabel}}</button>
			</div>
			<div>
				<button ng-repeat="handle in pointDetails.handles" ng-disabled="pointDetails.current.handle == handle" ng-click="pointDetails.current.handle = handle">{{handle|pointLabel}}</button>
			</div>
			<div>
				<button ng-repeat="spin in pointDetails.spins" ng-disabled="pointDetails.current.spin == spin" ng-click="pointDetails.current.spin = spin">{{spin|pointLabel}}</button>
			</div>
		</fieldset>
		<button style="width: 100%; height: 30px;" ng-click="pointFor(party)">+1</button>
	</div>

	<div>
		<strong>{{scoreProjection.serving.fullName()}}</strong>
		serves to
		<em>{{scoreProjection.receiving.fullName()}}</em>
	</div>

	<div ng-show="scoreProjection.isWon">
		<h1>Game won by <strong>{{scoreProjection.winner.name}}</strong></h1>
	</div>

	<button ng-click="undoPoint()">Undo last point</button>
	<button>Commit clash</button>

	{{scoreProjection|json}}

</div>