<h1>Team Definition</h1>

<div class="panel panel-default">
    <div class="panel-heading">People pool</div>
    <div class="panel-body">
        <div class="well well-sm pull-left" style="margin: 2px;" ng-repeat="p in people()">{{$index + 1}}. {{p.fullName()}}</div>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Generate random teams of:</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <button type="button" class="btn btn-default navbar-btn" ng-click="randomize(1)">1</button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="randomize(2)">2</button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="randomize(3)">3</button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="randomize(4)">4</button>
        </div>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-heading">Teams</div>
    <div class="panel-body">
        <div class="well well-sm pull-left" style="margin: 2px;" ng-repeat="t in teams()" ng-init="editTitle = false;">
            <div ng-click="editTitle = true;" ng-hide="editTitle">{{$index + 1}}. <strong>{{t.name}}</strong></div>
            <div class="input-group input-group-sm" ng-show="editTitle">
                <input type="text" class="form-control" ng-model="t.name" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="editTitle = false;">OK</button>
                </span>
            </div>
            <div>
                <ul>
                    <li ng-repeat="i in t.individuals()"><small>{{i.fullName()}}</small></li>
                </ul>
            </div>
        </div>
    </div>
</div>